.mainTabs{
    background-color:rgb(21, 93, 21);
    color:rgb(255, 255, 255) !important;
    text-align:center;
}

.mainTabs .hover{
    color:rgb(21, 93, 21)

}
.nav-items{
    color:rgb(245, 249, 245)

}
.mainTab{
    color:#ffffff;
    text-align:center;
    background-color:rgb(57, 86, 57);
}
.paneTab{
    color:#ffffff;
    text-align:center;
    align-items:center;
    background-color:rgb(105, 101, 10);
}
.mainNav .active{
    color:rgb(255, 255, 255);
    background-color:rgb(61, 155, 61);
}
.mainNav{
    color:rgb(255, 255, 255);
    background-color:rgb(33, 74, 33);
    
   
}
.mainNavLink{
    color:rgb(255, 255, 255);
    
}
.mainNavLink .active{
    color:rgb(255, 255, 255);
    background-color:rgb(29, 187, 29);
}
.nav-link{
    color:rgb(255, 255, 255) !important;

}
.nav-link.active{
    color:rgb(241, 238, 238) !important;
    background-color:rgb(29, 187, 29) !important;
}


.cbtn{
    margin-top: 15px ;
    margin-bottom: 15px ;
}
