*{
  margin:0;
  padding:0;
  
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-header{
  background-color:green;
  color:white;
}
.card-footer{
  background-color:green;
  color:white;
}

